<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/layout :: head('Pagina di cambio password')}"></head>
<body>
    <h2><a href="/">Home</a></h2>
    <div>
        <form th:action="@{/cambia-password}" th:object="${userAccountCambiaPassword}" method="post">
            <fieldset>
                <legend>Nuova Password</legend>
                <label>
                    <input type="password" name="nuovaPassword" th:field="*{nuovaPassword}">
                </label>
                <br>
                <label>
                    <input type="password" name="confermaPassword" th:field="*{confermaPassword}">
                </label>
            </fieldset>
            <button type="submit">Imposta nuova password</button>
        </form>
    </div>
</body>
</html>